/*
 * Apply a natural box layout model to all elements:
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

.top-left div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.top-left p {
    margin: 2em;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 70%;
    
    overflow: auto;
}

.toolbar {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 2em;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(30% - 2em);
    
    overflow-y: auto;
    padding: 0.5em 1em;
}

.timeline-left,
.timeline-right {
    position: absolute;
    top: 0;
    width: 50%;
}

.timeline-left {
    left: 0;
}

.timeline-right {
    right: 0;
}

.timeline-right {
    overflow-x: auto;
}

.timeline {
    border-collapse: separate;
    border-spacing: 2px;
}

.timeline input,
.timeline button,
.timeline select {
    width: 100%;
}

.timeline td,
.timeline th.frame-index,
.timeline th.frame-title,
.timeline th.layer-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8em;
    max-width: 8em;
}

.timeline th.layer-icons {
    width: auto;
    text-align: left;
}

.timeline .layer-label {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.timeline .layer-icons .visibility,
.timeline .layer-icons .remove {
    margin-right: 0.5em;
}

.timeline .layer-label .remove {
    display: none;
}

.timeline .layer-label:hover .remove {
    display: inline;
}

.timeline .frame-title {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.timeline .frame-index .insert-before {
    float: left;
    position: relative;
    top: 0.7em;
}

.timeline .frame-index .insert-after {
    float: right;
    position: relative;
    top: 0.7em;
}

.timeline .frame-index i {
    display: none;
}

.timeline .frame-index:hover i {
    display: inline;
}

.aspect {
    width: 4em;
    padding: 0.2em 0.5em;
}

form h1 {
    text-align: center;
}

form table {
    margin: 0 auto;
}

form th {
    padding: 0.3em 1em;
}

form td input[type=text],
form td input[type=number] {
    width: 100%;
}

