
body {
    font-size: small;
    font-family: sans-serif;

    margin: 0;
    padding: 0;
}

div#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;

    background-image: linear-gradient(-45deg,
        rgb(80, 80, 80) 25%, rgb(64, 64, 64) 25%, rgb(64, 64, 64) 50%,
        rgb(80, 80, 80) 50%, rgb(80, 80, 80) 75%, rgb(64, 64, 64) 75%, rgb(64, 64, 64));
    background-size: 1em 1em;
}

div#preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 0 20px 5px rgb(32, 32, 32);
}

div#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 2em);
    height: calc(30% - 1em);
    overflow: auto;

    padding: 0.5em 1em;
    background: linear-gradient(to bottom, rgb(64, 64, 64), rgb(80, 80, 80) 2em);
    color: white;
}

input#aspect-num, input#aspect-den {
    width: 3em;
    padding: 0.2em 0.5em;
    border: 1px solid rgb(80, 80, 80);
}

div#timeline table {
    border-collapse: separate;
    border-spacing: 2px;
}

div#timeline {
    margin-top: 0.5em;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div#timeline input,
div#timeline button,
div#timeline select {
    width: 100%;
}

div#timeline td,
div#timeline th.frame-index,
div#timeline th.frame-title,
div#timeline th.layer-label {
    cursor: default;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8em;
    max-width: 8em;
}

div#timeline th.layer-icons {
    width: auto;
    text-align: left;
}

div#timeline td {
    background: rgb(200, 200, 200);
}

div#timeline .layer-label {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

div#timeline .layer-icons .visibility,
div#timeline .layer-icons .remove {
    margin-right: 0.5em;
}

div#timeline .layer-label .remove {
    display: none;
}

div#timeline .layer-label:hover .remove {
    display: inline;
}

div#timeline .frame-title {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

div#timeline .selected {
    color: black;
    background: rgb(200, 220, 220);
}

div#timeline .selected.current {
    background: rgb(150, 200, 200);
}

div#timeline .frame-index i.insert-before {
    float: left;
    position: relative;
    top: 0.7em;
}

div#timeline .frame-index i.insert-after {
    float: right;
    position: relative;
    top: 0.7em;
}

div#timeline .frame-index i {
    display: none;
}

div#timeline .frame-index:hover i {
    display: inline;
}

div#timeline .frame-index.selected {
    color: rgb(200, 220, 220);
    background: transparent;
    font-weight: bold;
}
