/*
 * Using bulletproof @font-face syntax:
 * http://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/
 */
@font-face {
    font-family: "Droid Sans";
    src: url("../vendor/DroidSans/DroidSans.eot?") format("embedded-opentype"),
         url("../vendor/DroidSans/DroidSans.ttf") format("truetype");
}

@font-face {
    font-family: "Droid Sans";
    src: url("../vendor/DroidSans/DroidSans-Bold.eot?") format("embedded-opentype"),
         url("../vendor/DroidSans/DroidSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    font-size: small;
    font-family: "Droid Sans", serif;
}

.top-left p {
    font-size: 200%;
    text-align: center;
}

.timeline td,
.timeline th.frame-index,
.timeline th.frame-title,
.timeline th.layer-label {
    font-weight: normal;
}

.timeline .frame-index.selected {
    font-weight: bold;
}

form h1 {
    font-size: 120%;
}

form th {
    font-weight: normal;
    text-align: right;
}

form td {
    text-align: left;
}
