.properties {
    margin: 0.5rem 1rem;
}

.properties h1 {
    text-align: center;
    font-size: 120%;
}

.properties h2 {
    font-size: 110%;
}

.properties h3 {
    font-size: 100%;
}

.properties > div {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.properties > div.btn-group {
    text-align: center;
}

.properties .back {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.properties .side-by-side {
    display: flex;
    align-items: center;
}

.properties label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.properties input,
.properties select {
    width: 100%;
}

.properties span.btn-group,
.properties :not(.btn-group):not(td) > button {
    margin-left: 1rem;
}

.properties {
    color: white;
}

.properties .help {
    margin-left: 1rem;
}

.properties table.custom-css-js {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
    background-color: white;
    color: black;
}

.properties .custom-css-js tr th {
    width: 100%;
}

.properties .custom-css-js td:first-child {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.properties input.custom-css-js {
    display: none;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

.spinner {
    margin-left: 1rem;
    margin-right: 1rem;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #333;
    animation: spinner .8s linear infinite;
}
