#sozi-editor-view-preview {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background: white;
    box-shadow: 0 0 20px 5px rgb(32, 32, 32);

    text-align: center;
}

#sozi-editor-view-preview svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#sozi-editor-view-preview p,
#sozi-editor-view-preview ul {
    margin: 2em;
    padding: 0;
}

#sozi-editor-view-preview ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1em 0.5em 1em;
}

