[Desktop Entry]
Name=Sozi
Comment=A zooming presentation editor and player
Exec=sozi
Icon=sozi.png
Terminal=false
Type=Application
StartupNotify=false
