{% extends "base.html" %}
{% block content %}
    <section id="content" class="body">
        <header>
            <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(article) }}
        </header>
        <footer class="post-info">
            <time pubdate>{{ article.locale_date }}</time>
            {% if article.author %}
                <address class="vcard author">
                    By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
                </address>
            {% endif %}
        </footer><!-- /.post-info -->
        <div class="entry-content">
            {{ article.content }}
        </div><!-- /.entry-content -->
    </section>
{% endblock %}
