<!DOCTYPE html>
{% if page %}
    {% set lang = page.lang %}
{% elif article %}
    {% set lang = article.lang %}
{% else %}
    {% set lang = DEFAULT_LANG %}
{% endif %}
<html lang="{{ lang }}">
<head>
    {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" />
        {% if FEED_ALL_ATOM %}
            <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FLATTR_URL %}
            {% include 'flattr-loader.html' %}
        {% endif %}
    {% endblock head %}
</head>
<body id="index" class="home">
    <header id="banner" class="body">
        <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    </header><!-- /#banner -->

    <nav id="menu">
        <ul>
            {% for p in pages|sort(attribute='slug') %}
                {% if p.lang == lang %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% else %}
                    {% for translation in p.translations if translation.lang == lang %}
                        <li{% if translation == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.title }}</a></li>
                    {% else %}
                        <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if FLATTR_URL %}
                <li>{% include 'flattr-button.html' %}</li>
            {% endif %}
            {% if PAYPAL_KEY %}
                {% include 'paypal.html' %}
            {% endif %}
        </ul>
    </nav><!-- /#menu -->
    
    {% block content %}
    {% endblock %}

    <aside id="sidebar">
        <div class="widget">
            <h2>Categories</h2>
            <ul>
                {% for cat, null in categories %}
                   <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% if LINKS %}
            <div class="widget blogroll">
                <h2>Related projects</h2>
                <ul>
                    {% for name, link in LINKS %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL %}
            <div class="widget social">
                <h2>Social</h2>
                <ul>
                    {% if FEED_ALL_ATOM %}
                        <li><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">Atom feed</a></li>
                    {% endif %}
                    {% if GITHUB_URL %}
                        <li><a href="{{ GITHUB_URL }}">GitHub</a></li>
                    {% endif %}
                    {% for name, link in SOCIAL %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /.social -->
        {% endif %}
    </aside><!-- /#sidebar -->
    
    <footer id="contentinfo" class="body">
        <address id="about" class="vcard body">
            Site generated by <a href="http://getpelican.com/">Pelican</a>.
        </address><!-- /#about -->
    </footer><!-- /#contentinfo -->
    {% if PIWIK_URL %}
        <li>{% include 'piwik.html' %}</li>
    {% endif %}
</body>
</html>
