
@font-face {
	font-family: "SourceCodePro";
	src: url("SourceCodePro-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SourceCodePro";
	src: url("SourceCodePro-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}
