#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_fixperms:
	dh_fixperms --exclude chrome-sandbox
	find . -name chrome-sandbox -exec chmod 4755 {} \;

# Disable the following targets to build packages for all architectures.
override_dh_strip:

override_dh_makeshlibs:

override_dh_shlibdeps:

clean:
