<table>
    <tr>
        <th colspan="2"><input type="button" id="add-frame" value="Add frame"></th>
        {% for frame in presentation.frames %}
            <th data-frame-index="{{loop.index0}}"
                class="frame-index {{'selected' if selection.hasFrame(frame)}} {{'current' if selection.frameIsCurrent(frame)}}">
                {% if selection.selectedFrames.length %}
                    <i title="Insert selection before" class="insert-before fa fa-step-backward"></i>
                {% endif %}
                {{loop.index}}
                {% if selection.selectedFrames.length %}
                    <i title="Insert selection after" class="insert-after fa fa-step-forward"></i>
                {% endif %}
            </th>
        {% endfor %}
    </tr>
    <tr>
        <th colspan="2">
            <select id="add-layer">
                <option value="__add__">Add layer</option>
                {% for layer in presentation.layers.slice().reverse() %}
                    {% if not layer.auto and defaultLayers.indexOf(layer) >= 0 %}
                        <option value="{{loop.revindex0}}">{{layer.label}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </th>
        {% for frame in presentation.frames %}
            <th data-frame-index="{{loop.index0}}"
                title="{{frame.title}}"
                class="frame-title {{'selected' if selection.hasFrame(frame)}} {{'current' if selection.frameIsCurrent(frame)}}">
                {{frame.title}}
            </th>
        {% endfor %}
    </tr>
    <tr data-layer-index="-1">
        <th class="layer-icons">
            <i class="visibility fa {{'fa-eye' if defaultLayersAreVisible else 'fa-eye-slash'}}"
                title="{{'This layer is visible. Click to hide it.' if defaultLayersAreVisible else 'This layer is hidden. Click to show it.'}}"></i>
        </th>
        <th class="layer-label {{'selected' if defaultLayersAreSelected}}">
            Default
        </th>
        {% for frame in presentation.frames %}
            <td data-frame-index="{{loop.index0}}"
                class="{{'selected' if defaultLayersAreSelected and selection.hasFrame(frame)}} {{'current' if selection.frameIsCurrent(frame)}}"></td>
        {% endfor %}
    </tr>
    {% for layer in presentation.layers.slice().reverse() %}
        {% if editableLayers.indexOf(layer) >= 0 %}
            <tr data-layer-index="{{loop.revindex0}}">
                <th class="layer-icons">
                    <i class="visibility fa {{'fa-eye' if layer.isVisible else 'fa-eye-slash'}}"
                        title="{{'This layer is visible. Click to hide it.' if layer.isVisible else 'This layer is hidden. Click to show it.'}}"></i>
                    <i title="Remove this layer" class="remove fa fa-times"></i>
                </th>
                <th class="layer-label {{'selected' if selection.hasLayer(layer)}}">
                    {{layer.label}}
                </th>
                {% for frame in presentation.frames %}
                    <td data-frame-index="{{loop.index0}}"
                        class="{{'selected' if selection.hasLayer(layer) and selection.hasFrame(frame)}} {{'current' if selection.frameIsCurrent(frame)}}"></td>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
