<table>
    <tr>
        <th>
            <input type="button" id="add-frame" value="Add frame">
        </th>
        {% for frame in editor.presentation.frames %}
            <th data-frame-index="{{loop.index0}}"
                title="{{frame.title}}"
                class="frame-index {{'selected' if editor.frameIsSelected(frame)}} {{'current' if editor.frameIsCurrent(frame)}}">{{loop.index}}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>
            <select id="layer-select">
                <option value="__add__">Add layer</option>
                {% for layer in editor.presentation.layers %}
                    {% if not layer.auto and editor.layers.indexOf(layer) < 0 %}
                        <option value="{{loop.index0}}">{{layer.label}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </th>
        {% for frame in editor.presentation.frames %}
            <th data-frame-index="{{loop.index0}}"
                title="{{frame.title}}"
                class="frame-title {{'selected' if editor.frameIsSelected(frame)}} {{'current' if editor.frameIsCurrent(frame)}}">{{frame.title}}</th>
        {% endfor %}
    </tr>
    <tr data-layer-index="-1">
        <th class="layer-label {{'selected' if editor.layerIsSelected(null)}}">Default</th>
        {% for frame in editor.presentation.frames %}
            <td data-frame-index="{{loop.index0}}"
                class="{{'selected' if editor.layerIsSelected(null) and editor.frameIsSelected(frame)}} {{'current' if editor.frameIsCurrent(frame)}}"></td>
        {% endfor %}
    </tr>
    {% for layer in editor.presentation.layers %}
        {% if editor.layers.indexOf(layer) >= 0 %}
            <tr data-layer-index="{{loop.index0}}">
                <th class="layer-label {{'selected' if editor.layerIsSelected(layer)}}">{{layer.label}}</th>
                {% for frame in editor.presentation.frames %}
                    <td data-frame-index="{{loop.index0}}"
                        class="{{'selected' if editor.layerIsSelected(layer) and editor.frameIsSelected(frame)}} {{'current' if editor.frameIsCurrent(frame)}}"></td>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
