<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ pres.title }}</title>
    </head>
    <body>
        {{ svg }}
        <script>
            {{ playerJs }}
        </script>
        <script>
            window.addEventListener("load", function () {
                "use strict";

                var presentation = sozi.model.Presentation.init(document.querySelector("svg"));
                var viewport = sozi.player.Viewport.init(presentation);
                var json = document.querySelector("script[type='application/json")
                presentation.fromStorable({{ pres.toJSON() }});
            });
        </script>
    </body>
</html>
