@import "normalize.css";
@import "pygments.css";
@import "../fonts/Iwona/stylesheet.css";
@import "../fonts/TeXGyreSchola/stylesheet.css";
@import "../fonts/SourceCodePro/stylesheet.css";

/*
 * Fonts
 */
 
body {
    font-family: TeXGyreSchola, Georgia, "Times New Roman", serif;
    font-size: large;
}

h1, h2, h3, h4 {
    font-family: Iwona, Arial, sans-serif;
    font-weight: normal;
}

code, pre {
    font-family: SourceCodePro, monospace;
}
/*
 * Layout
 */

body {
    margin: 0 auto 2em auto;
    max-width: 50em;
}

#banner {
    height: 5em;
    
    margin: 0 -50em 0 -50em;
    padding: 0 50em 0 50em;
}

#banner h1 {
    height: 2em;
    margin-top: 0;
    padding: 0.5em 0 0 4em;
}

#sidebar {
    height: 10em;
    
    margin: 2em -50em 0 -50em;
    padding: 0 50em 0 50em;
}

/*
 * Colors:
 *	orange 		= rgb(255, 102, 0)
 *  blue 		= rgb(34, 102, 170)
 *	light blue 	= rgb(0, 204, 255)
 *	yellow 		= rgb(255, 204, 0)
 *	violet 		= rgb(221, 175, 233)
 *  light green = rgb(204, 255, 0)
 */

#banner {
	background:
	    -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 0.5em, rgba(255, 255, 255, 0.6) 0.5em, white 5em),
		-moz-repeating-linear-gradient(0deg, transparent, transparent 30px, rgba(255, 102, 0, 0.1) 30px, rgba(255, 102, 0, 0.1) 40px, transparent 40px, transparent 195px),
		-moz-repeating-linear-gradient(0deg, transparent, transparent 75px, rgba(204, 255, 0, 0.5) 75px, rgba(204, 255, 0, 0.5) 150px, transparent 150px, transparent 165px),
		-moz-repeating-linear-gradient(0deg, transparent, transparent 10px, rgba(221, 175, 233, 0.5) 10px, rgba(221, 175, 233, 0.5) 65px, transparent 65px, transparent 105px),
		-moz-repeating-linear-gradient(0deg, rgb(128, 230, 255), rgb(128, 230, 255) 15px, rgb(255, 230, 128) 15px, rgb(255, 230, 128) 45px);

	background:
	    -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 0.5em, rgba(255, 255, 255, 0.6) 0.5em, white 5em),
		-webkit-repeating-linear-gradient(0deg, transparent, transparent 30px, rgba(255, 102, 0, 0.1) 30px, rgba(255, 102, 0, 0.1) 40px, transparent 40px, transparent 195px),
		-webkit-repeating-linear-gradient(0deg, transparent, transparent 75px, rgba(204, 255, 0, 0.5) 75px, rgba(204, 255, 0, 0.5) 150px, transparent 150px, transparent 165px),
		-webkit-repeating-linear-gradient(0deg, transparent, transparent 10px, rgba(221, 175, 233, 0.5) 10px, rgba(221, 175, 233, 0.5) 65px, transparent 65px, transparent 105px),
		-webkit-repeating-linear-gradient(0deg, rgb(128, 230, 255), rgb(128, 230, 255) 15px, rgb(255, 230, 128) 15px, rgb(255, 230, 128) 45px);
}

#banner h1 {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 0 0.4em;
	background-size: 2em;
}

#banner h1 a {
	color: black;
}

#sidebar {
	background:
	    -moz-linear-gradient(white, rgba(255, 255, 255, 0.6) 4em, white 10em),
		-moz-repeating-linear-gradient(0deg, transparent, transparent 30px, rgba(255, 102, 0, 0.1) 30px, rgba(255, 102, 0, 0.1) 40px, transparent 40px, transparent 195px),
		-moz-repeating-linear-gradient(0deg, transparent, transparent 75px, rgba(204, 255, 0, 0.5) 75px, rgba(204, 255, 0, 0.5) 150px, transparent 150px, transparent 165px),
		-moz-repeating-linear-gradient(0deg, transparent, transparent 10px, rgba(221, 175, 233, 0.5) 10px, rgba(221, 175, 233, 0.5) 65px, transparent 65px, transparent 105px),
		-moz-repeating-linear-gradient(0deg, rgb(128, 230, 255), rgb(128, 230, 255) 15px, rgb(255, 230, 128) 15px, rgb(255, 230, 128) 45px);

	background:
	    -webkit-linear-gradient(white, rgba(255, 255, 255, 0.6) 4em, white 10em),
		-webkit-repeating-linear-gradient(0deg, transparent, transparent 30px, rgba(255, 102, 0, 0.1) 30px, rgba(255, 102, 0, 0.1) 40px, transparent 40px, transparent 195px),
		-webkit-repeating-linear-gradient(0deg, transparent, transparent 75px, rgba(204, 255, 0, 0.5) 75px, rgba(204, 255, 0, 0.5) 150px, transparent 150px, transparent 165px),
		-webkit-repeating-linear-gradient(0deg, transparent, transparent 10px, rgba(221, 175, 233, 0.5) 10px, rgba(221, 175, 233, 0.5) 65px, transparent 65px, transparent 105px),
		-webkit-repeating-linear-gradient(0deg, rgb(128, 230, 255), rgb(128, 230, 255) 15px, rgb(255, 230, 128) 15px, rgb(255, 230, 128) 45px);
}

/*
 * Links
 */

a {
    color: rgb(34, 102, 170);
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus {
    text-decoration: underline;
}

/*
 * Lists
 */

ul {
    list-style: none;
}

ul li:before {
    content: "\2015\2000"; /* dash */
}

ul li {
    padding-left: 1em;
    text-indent: -1.5em;
}

ol {
    margin-left: 1em;
}

/*
 * Menu
 */
#menu ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em 1em 0.5em 1em;
}

#menu li:before {
    content: none;
}

#menu li {
    display: inline;
    padding: 0 0.5em 0.2em 0.5em;
}

#menu li.active {
    text-shadow: 0 0.2em 0.2em rgb(128, 230, 255);
}

#menu form {
    display: inline;
}

/*
 * Blog post list
 */

ol#post-list {
    list-style: none;
}

/*
 * Content
 */

p {
    text-align: justify;
    
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
    margin: 0.5em 0;
    text-indent: 1em;
}

blockquote {
    background: rgb(255, 230, 128);
    padding: 0.5em 1.5em;
	box-shadow: rgb(230, 230, 230) 0px 5px 10px 3px;
	margin: 1em 1em;
}

section#content > header {
    margin-bottom: 1em;
}

.highlight {
    margin-left: 2em;
    margin-right: 2em;
}

pre {
    padding: 0.2em 1.5em 0.2em 1.5em;
	box-shadow: rgb(230, 230, 230) 0px 5px 10px 3px;
}

/*
 * Images
 */

img.github-left, img.github-right {
    position: absolute;
    top: 0;
    border: none;
    box-shadow: none;
}

img.github-left {
    left: 0;
}

img.github-right {
    right: 0;
}

img {
    max-width: 32em;
	box-shadow: rgb(230, 230, 230) 0px 5px 10px 3px;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Tables
 */

table {
	box-shadow: rgb(230, 230, 230) 0px 5px 10px 3px;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid rgb(196, 216, 110);
	padding: 0.2em 0.5em;
	vertical-align: middle;
}

th {
    font-family: Iwona;
    font-weight: normal;
    background: rgb(239, 255, 178);
}

td {
    font-size: 95%;
}

/*
 * Embedding Sozi presentations
 */

iframe.sozi,
object.sozi,
embed.sozi {
	box-shadow: rgb(230, 230, 230) 0px 5px 10px 3px;

    border: 1px solid rgb(230, 230, 230);
    overflow: hidden;
    width: 32em;
    height: 24em;

	display: block;
	margin-left: auto;
	margin-right: auto;

}

/*
 * Widgets
 */

#sidebar .widget ul {
    list-style: none;
    padding: 0;
}

#sidebar .widget li:before {
    content: none;
}

#sidebar .widget {
    display: block;
    float: left;
    width: 33%;
}

#contentinfo {
    clear: both;
}

/*
 * Social widget (from theme notmyidea)
 */
 
.social a {
    background-repeat: no-repeat;
    background-position: 3px 6px;
    padding-left: 25px;
}

/* Icons */
.social a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
.social a[href*='bitbucket.org'] {background-image: url('../images/icons/bitbucket.png');}
.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
.social a[href*='github.com'],
.social a[href*='git.io'] {background-image: url('../images/icons/github.png');}
.social a[href*='gittip.com'] {background-image: url('../images/icons/gittip.png');}
.social a[href*='plus.google.com'] {background-image: url('../images/icons/google-plus.png');}
.social a[href*='groups.google.com'] {background-image: url('../images/icons/google-groups.png');}
.social a[href*='news.ycombinator.com'],
.social a[href*='hackernewsers.com'] {background-image: url('../images/icons/hackernews.png');}
.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
.social a[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
.social a[href*='slideshare.net'] {background-image: url('../images/icons/slideshare.png');}
.social a[href*='speakerdeck.com'] {background-image: url('../images/icons/speakerdeck.png');}
.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
.social a[href*='vimeo.com'] {background-image: url('../images/icons/vimeo.png');}
.social a[href*='youtube.com'] {background-image: url('../images/icons/youtube.png');}

